<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="header">
      <h1>Caesar Cipher</h1>
    </div>
    <div class="form">
      <form>
        <h3>Put your string here</h3>
        <input type='text' name='string'/>
        <h3>Put an integer value here</h3>
        <input type='text' name='shift'/>
        <h3>Now you are ready</h3>
        <input type='submit' value='Encode Your String' />
      </form>
    </div>
    <div class="body">	
      <p class="output">
  		  <%= string %>
      </p>
    </div>
	</body>
</html>		