<html>
	<head>
    	<link type="text/css" rel="stylesheet" href="/css/style.css">
	</head>
	<body>
	    <div class="header">
	    	<h1>Welcome to my shitty portfolio page</h1>
	    </div>
	    <div class="form">
	      	<h3>Please choose from the following options</h3>
	      	<a href="mastermind" class="button">Test your cognition with<br>Mastermind</a>
	      	<a href="caesar" class="button">Encode a phrase with<br>Caesar Cipher</a>
	    </div>
	</body>
</html>		