<html>
    <head>
    	<link type="text/css" rel="stylesheet" href="/css/style.css">
    </head>
    <body>
	    <div class="header">
	      <h1>Mastermind</h1>
	    </div>
	    <div class="rules">
	    	<p>
		    	Welcome to Mastermind, here is how it is played. The game has created a 4 digit combination using the numbers 1, 2, 3, 4, 5, and 6. Duplicates are allowed. The codebreaker will then have 12 turns to correctly guess the code. After each guess, the codebreaker will be told how many numbers were guessed EXACTLY correct (correct number and placement) and how many were only PARTIALLY correct (correct number but not placement).
		    </p>
		</div>
		<div class="form">
      <form action="/mastermind/game">
        <h3>Take your first guess!</h3>
    	<input type="number" name='first' min="1" max="6" />
    	<input type="number" name='second' min="1" max="6" />
    	<input type="number" name='third' min="1" max="6" />
    	<input type="number" name='fourth' min="1" max="6" />
        <input type='submit' value='Submit'/>
      </form>
    </div>
	</body>
</html>		