<html>
    <head>
    	<link type="text/css" rel="stylesheet" href="/css/style.css">
    </head>
    <body>
	    <div class="header">
	    	<h1>Mastermind</h1>
	    	<p>
	    		<%= response %>
	    	</p>
	    	<p> The winning code was <%= winning_code %> </p>
	    	<a href="../mastermind" class="button">Play Again?</a>
	    	<a href="../" class="button">Back to home page</a>
	    </div>
	</body>
</html>	