body{
	text-align: center;
	background-color: #eaeaea;
	color: #525252;
	width: 900px;
	margin: auto;
	margin-top: 20px;
}

div {
    display: block;
}

h1{
	margin: auto;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    background-color: #00e2cd;
    text-decoration: none;
    text-overflow: none;
    color: initial;
    padding: 10px;
    margin: 10px;
}

fieldset {
	border: none;
}

.header{
	margin: auto;
	height: 80px;
}

.body{

}

.form{

}

.output{
	font-size: 36px;
}
